.body{
  display:flex; 
  max-height: 5%;
}

.header {
  margin-right: 5%;
}

.drop {
  background-color: #3fa7d6;
  color: #f7f7ff;
  text-align: center;
  padding: 1%; 
  height: 100%;
  width: 20%;
}

.body:hover .menu {
  display: flex;
}

.dropItem {
  background-color: #3fa7d6;
  color: #f7f7ff;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  padding: 6px;
  text-align: center;
}

.dropItem:hover{
  opacity: .6;
}

.menu {
  display: none;
  flex-direction: column;
}

span{
  font-size: 30px;
  margin-top: -.2%;
  color: #3fa7d6;
}