<div class="container">
  
  <h3 class="header"> Interval Challenge</h3>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Easy</a>
      <a class="dropdown-item disabled" href="#">Medium</a>
      <a class="dropdown-item disabled" href="#">Hard</a>
    </div>
  </div>
</div>


