.container {
  margin: 5%;
}

#submit {
  width: 60%;
  display: inline;
}

#playButton{
  display: inline;
  margin-left: 1%;
  margin-bottom: 10%;
}

.form-group{
  display: inline-block;
}

.sub{
  margin-left:1%;
}