<br>

<div class="container">

<form  #answer="ngForm" (ngSubmit) = "onSubmit()">
    <br>
  <div class="form-group">
      <label><h3>Interval Challenge: {{ lvl }} </h3></label>
      <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select Difficulty
          </button>
          
          <div class="dropdown-menu">
              <button href="#" class="dropdown-item" aria-labelledby="dropdownMenuButton" *ngFor="let level of levels" (click)="display($event)">{{ level }}</button>
          </div>
          
      </div>
  </div>
    
    <br>
    
 
  <br>
  <div class="form-inline">
    <input class="form-control form-inline col-md-6" type="text" name="interval" required id="submit" [(ngModel)]="value">
    <input class="btn btn-primary sub" type="submit" value="Submit">

    
  </div>
  <p>{{ value }} {{ level }}</p>
  
</form>

<br><br>
<button class="btn btn-primary btn-lg " (click)= "playEasy()" id="playButton">Play Interval</button>
</div>

