.container {
  margin: 5%;
  margin-top: 8%;
  padding: 0;
}

#submit {
  width: 40%;
  display: inline;

}

#playButton{
  display: inline;
  margin-left: 1%;
  margin-bottom: 10%;
  background-color: #3FA7D6;
  color: #f7f7ff;
}

.sub{
  margin-left:1%;
  border-color:#3FA7D6;
}
.alert{
  width:40%;
}
/* Select Challenge Header and Drop Down Menu */
#interval{
  display: inline-block;
  padding: 0;
  background-color: #3FA7D6;
  color: #f7f7ff;
  font-size: 1.4rem;
  padding-right: 2%;
  display: inline-block;
  margin: 0;
  /* position:fixed; */
}


/*dropdown Menu*/
.body{
  display:flex; 
  max-height: 5%;
}

.header {
  background-color: #3fa7d6;
  color: #f7f7ff;
  text-align: center;
  padding: 1%; 
  height: 100%;
  width: 30%;
}

.drop {
  background-color: #3fa7d6;
  color: #f7f7ff;
  text-align: center;
  padding: 1%; 
  height: 100%;
  width: 20%;
}

.body:hover .menu {
  display: flex;
}

.dropItem {
  background-color: #3fa7d6;
  color: #f7f7ff;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  padding: 6px;
  text-align: center;
}

.dropItem:hover{
  opacity: .6;
}

.menu {
  display: none;
  flex-direction: column;
}

span{
  font-size: 30px;
  margin-top: -.2%;
  color: #3fa7d6;
}