.container {
  margin: 5%;
  margin-top: 5%;
  padding: 0;
}

#submit {
  width: 60%;
  display: inline;
}

#playButton{
  display: inline;
  margin-left: 1%;
  margin-bottom: 10%;
}

.form-group{
  display: inline-block;
  margin: 0;
  padding: 0;
}

.sub{
  margin-left:1%;
}
.alert{
  width:50%;
}
.dropdown{
  display:inline-block;
  padding: 0;
  margin-bottom: 100px; 
}

#interval{
  display: inline-block;

  padding: 0;

 
}