<div >
  <div id="keyboard">
          <div class="key-white" ><span>C</span>
          <div class="key-black" ><span>C#</span></div></div>
          <div class="key-white" ><span>D</span>
          <div class="key-black" ><span>D#</span></div></div>
          <div class="key-white" ><span>E</span></div>
          <div class="key-white" ><span>F</span>
          <div class="key-black" ><span>F#</span></div></div>
          <div class="key-white" ><span>G</span>
          <div class="key-black" ><span>G#</span></div></div>
          <div class="key-white" ><span>A</span>
          <div class="key-black" ><span>A#</span></div></div>
          <div class="key-white" ><span>B</span></div>
  </div>
 

</div>

