* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clear {
  clear: both;
}
.clearfix {
  overflow: auto;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  user-select: none;
}
h1 {
  font-size: 1.8rem;
  line-height: 1;
  letter-spacing: -1px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 30px;
  height: 100%;
  display: block;
}

#keyboard {
  max-width: 100%;
  width: 90%;
  background: #000;
  margin: 0 auto;
  user-select: none;
}
.key-white {
  float: left;
  position: relative;
  width: 7.1426%; 
  height:  8em;
  background: #fff;
  border: 1px solid #ccc;
  padding-bottom: 16.5%;
}
.key-white .key-black {
  position: absolute;
  z-index: 100;
  background: #000;
  width: 50%;
  height: 60%;
  border: 1px solid #ccc;
  margin-left: 75%;
}
.key-white .key-black span {
  color: #fff;
}
.key-white, .key-black {
  cursor: pointer;
}
.hover {
  background-color: #ddd;
}
span {
  position: absolute;
  bottom: 0.5%;
  left: 3%;
  margin: 0;
  padding: 0;
  display: inline;
  border: 1px solid black;
}
.noteName{
  margin: 0;
  margin-left:14px;
  margin-right:14px;
} 
.mainBtn {
  display: block;
  width: 50%;
  padding: 0.5rem 1.5rem;
  margin: 3rem auto;
}
code {
  text-align: center;
}
@media (min-width: 600px) {
  h1 {
    font-size: 3.2rem;
  }
}


@media(min-width: 540px ){
  #keyboard1{
    display: none;
  }
}
@media(max-width: 540px) {
  #full{
    display: none;
  }

  .key-white {
    float: left;
    position: relative;
    width: 14.28571%; 
    height:  8em;
    background: #fff;
    border: 1px solid #ccc;
    padding-bottom: 16.5%;
  }
}

#test{
  line-height: 200px;
  z-index: 0;
  display: inline;
  border : 1px solid black;
  margin: 0; 
  padding: 0;
}