<div>
  <div id="keyboard">
    <div class="key-white" id="c4" (click)="play($event)"><span>C</span>
      <div class="key-black" id="csharp4"><span>C#</span></div>
    </div>
    <div class="key-white" id="d4" (click)="play($event)"><span>D</span>
      <div class="key-black" id="dsharp4"><span>D#</span></div>
    </div>
    <div class="key-white" id="e4" (click)="play($event)"><span>E</span></div>
    <div class="key-white" id="f4" (click)="play($event)"><span>F</span>
      <div class="key-black" id="fsharp4"><span>F#</span></div>
    </div>
    <div class="key-white" id="g4" (click)="play($event)"><span>G</span>
      <div class="key-black" id="gsharp4"><span>G#</span></div>
    </div>
    <div class="key-white" id="a4" (click)="play($event)"><span>A</span>
      <div class="key-black" id="asharp4"><span>A#</span></div>
    </div>
    <div class="key-white" id="b4" (click)="play($event)"><span>B</span></div>
  </div>


</div>