<div class="container">
  <table style="width:40%">
    <tr>
      <th>Interval</th>
      <th>Correct/Incorrect</th> 
    </tr>
    <tr>
      <td> Zero </td>
      <td> Correct </td>
    </tr>
    <tr>
      <td>Major Second</td>
      <td> Correct </td>
    </tr>
    <tr>
      <td>Major Third</td>
      <td> Correct </td>
    </tr>
    <tr>
      <td>Perfect Fourth</td>
      <td> Correct </td>
    </tr> 
    <tr>
      <td>Perfect Fifth</td>
      <td> Correct </td>
    </tr>
    <tr>
      <td>Minor Sixth</td>
      <td> Correct </td>
    </tr>
    <tr>
      <td>Major Seventh</td>
      <td> Correct </td>
    </tr>
    <tr>
      <td>Octave</td>
      <td> Correct </td>
    </tr>
  </table>  
</div>
